<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h1>Narzędzia dla programisty webowego </h1>
    <table>
        {% for item in DATA_HEADERS %}
            <th>{{item}}</th>
        {% endfor %}

        {% for item in data %}
            <tr>
                {% for cell in item %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<a href="/add">Dodaj nowe</a>
</body>
</html>